

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Josefin Sans', sans-serif;
}

.start-screen{
  padding: 17vw 30px 0 30px;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/cyber-3400789_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 16% 30%;
  &__container{
    text-align: center;
    max-width: 430px;
    height: auto;
    margin: 0 auto;
    color: rgb(230, 214, 223);
    text-shadow: 1px -1px 5px rgb(157, 163, 157);
    h1, h2{
      margin-bottom: 30px;
      line-height: 44px;
    }

  }
}

.main-page{
  padding: 80px 20px 20px 20px;
  .card-window{
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 40px;
    .card{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      padding-left: 40px;
      font-size: 24px;
      line-height: 1.4;
      min-width: 200px;
      min-height: 70px;
      margin: 10px;
      border: 1px solid rgb(206, 212, 218);
      border-radius: 5px;
      background-color: #fff;
      transition: .3s;
      &:hover{
        box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
      }
      &.active{
       background-color: rgb(182, 205, 212);
      }
      img{
        width: 20px;
        display: block;
        position: absolute;
        left: 15px;
        top: 30px;
      }
      &.right-answer{
        box-shadow: 3px 3px 6px green;

      }
      .translation{
        display: none;
        font-size: 28px;
      }
    }

  }
  .content-window{
    margin: 0 auto;
    width: auto;
    max-height: 340px;
    padding: 10px;
    text-align: center;
    #image__wrapper{
      max-width: 400px;
      height: 260px;
      margin: 0 auto;
      margin-bottom: 20px;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .btn__wrapper{
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .microphone{
      text-align: center;
      transition: 0.3s all;
      animation: pulsing 2s infinite ease-in-out;
      img{
        width: 60px;
        height: 60px;
      }
      .hidden{
        display: none;
      }
    }
  }
  .level-bar{
    position: absolute;
    left: 40px;
    top: 40px;
    ul{
      display: flex;
      list-style: none;
      justify-content: center;
      margin-bottom: 20px;
      li{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding: 4px;
        border:3px solid green;
        border-radius:50%;
        text-align: center;
        padding-top: 10px;
        cursor: pointer;
        &.active{
         transform: scale(1.3,1.3);
         background-color: mediumspringgreen;
         color: teal;
        }
      }
    }
  }
}

.result-modal{
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/cyber-3400789_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 16% 30%;
  h2{
    margin-bottom: 20px;
  }
  #h2_guessed{
    span{
      background-color:green;
      border-radius:20%;
      color: honeydew;
      padding: 0 5px 0 5px;
    }
  }
  #h2_not-guessed{
    span{
      background-color:red;
      border-radius:20%;
      color: honeydew;
      padding: 0 5px 0 5px;
    }
  }
  .result__wrapper{
    margin: 0 auto;
    text-align: center;
    background-color:rgba($color: #f8f6f6, $alpha: 1);
    max-width: 600px;
    padding: 30px 10px;
    border: 2px ridge gray;
    border-radius:5px;
    .card{
      display: inline-block;
      position: relative;
      margin: 0 auto;
      height: 30px;
      min-width: fit-content;
      cursor: pointer;
      text-align: center;
      padding-top: 5px;
      margin-bottom: 8px;
      &.active{
        outline: 2px dotted rgb(233, 190, 190);
      }
      img{
        width: 20px;
        display: block;
        position: absolute;
        left: -35px;
        top: 17%;
      }
      p{
        display: inline-block;
      }
    }
    .answers{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
}

.stats-modal{
  text-align: center;
  padding: 100px 30px 40px 30px;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/cyber-3400789_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 16% 30%;
  color: rgb(230, 214, 223);
  text-shadow: 1px -1px 5px rgb(157, 163, 157);
  .message{
    max-width: 700px;
    max-height: 640px;
    margin: 0 auto;
    margin-bottom: 5%;
    overflow: auto;
    p{
      margin-bottom: 15px;
    }
  }
}

.hidden{
  display: none;
}

.btn{
  width: 90px;
  height: 45px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(243, 241, 236);
  box-shadow: 1px 1px 2px black;
  border-radius:3px;
  color: midnightblue;
  &:focus{
    outline: none;
  }
  &.continue__btn{
    width: 135px;
  }
}

@media (max-width: 479px) {
  .main-page{
    padding-top: 100px;
    .card-window{
      flex-direction: column;
    }
    .level-bar{
      ul{
        li{
          width: 27px;
          height: 27px;
          padding-top: 2px;
        }
      }
    }
  }
  .stats-modal, .start-screen, .result-modal{
    background-position: 50% 36%;
  }
}

@keyframes pulsing {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}
