* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.main-page{
  .card-window{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    .card{
      flex: 0 0 17%;
      height: 100px;
      cursor: pointer;
      text-align: center;
      &__active{
        border: 2px solid red;
      }
      img{
        width: 20px;
        display: block;
      }
    }

  }
  .content-window{
    margin: 0 auto;
    width: auto;
    height: 340px;
    padding: 10px;
    text-align: center;
    #image__wrapper{
      width: 400px;
      height: 260px;
      margin: 0 auto;
      margin-bottom: 20px;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
